<div class="fixed-top">
  <app-navbar></app-navbar>
</div>
<div class="container-fluid" style="margin-top:7rem">
  <div class="row">
    <div class="col-sm-1">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-11">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="fixed-bottom">
  <mat-advanced-audio-player [displayPlaylist]="msaapDisplayPlayList"
                             [displayTitle]="msaapDisplayTitle"
                             [displayVolumeControls]="msaapDisplayVolumeControls"
                             [expanded]="expanded"
                             [pageSizeOptions]="msaapPageSizeOptions"
                             [playlist]="msaapPlaylist"></mat-advanced-audio-player>
</div>
