<header id="header">
  <div class="container">
    <div class="pull-left" id="logo">
      <a class="scrollto"><img alt="" title=""></a>
    </div>
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><i class="fas fa-home" style="color: white"></i><a href="#">HOME</a></li>
        <li><i class="fa fa-music" style="color: white"></i><a [routerLink]="['/song','list']" class="nav-link">SONG</a>
        </li>
        <li><i class="fa fa-sign-language" style="color: white"></i><a [routerLink]="['/artist','list']">ARTIST</a></li>
        <li><i class="fas fa-folder" style="color: white"></i><a>ALBUM</a></li>
        <li><i class="fas fa-folder" style="color: white"></i><a [routerLink]="['/playlist','list']">PLAYLIST</a></li>
        <li *ngIf="!currentUser" class="buy-tickets" style="color: white">
          <a (click)="openLoginModal();" data-toggle="modal" href="javascript:void(0)"><i class="fas fa-user"></i>LOGIN</a>
          <a (click)="openRegisterModal();" data-toggle="modal" href="javascript:void(0)">REGISTER</a>
        </li>

        <li *ngIf="!!currentUser" id="divaa1">
          <i class="fa fa-user" style="color: antiquewhite;height: 5px"><a>{{ currentUser.username }}</a></i>
          <input [routerLink]="['/song','upload']" id="btna1" type="button" value="Upload Song">
          <input [routerLink]="['/uploaded']" id="btna2" type="button" value="Uploaded Song">
          <input [routerLink]="['/profile']" id="btna3" type="button" value="User Profile">
          <input (click)="logout()" id="btna4" type="button" value="Logout">
        </li>
      </ul>
    </nav>

    <!--    lỗi animation search-->

    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <form (ngSubmit)="onSearch()" [formGroup]="searchForm">
            <input class="search_input" formControlName="searchText" placeholder="Search...">
            <a class="search_icon" href="#"><i class="fas fa-search"></i></a>
          </form>
        </div>

      </div>
    </div>
  </div>
</header>

<div *ngIf="!currentUser" class="modal fade login" data-backdrop="false" id="loginModal">
  <div class="modal-dialog login animated">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
        <h4 class="modal-title">Login with</h4>
      </div>
      <div class="modal-body">
        <div class="box">
          <div class="content">
            <div class="form loginBox">
              <form (ngSubmit)="onSignIn()" [formGroup]="loginForm">
                <div class="form-group">
                  <label for="exampleDropdownFormEmail1">Username</label>
                  <input class="form-control" formControlName="username" id="exampleDropdownFormEmail1"
                         placeholder="username" type="text">
                </div>
                <div class="form-group">
                  <label for="exampleDropdownFormPassword1">Password</label>
                  <input class="form-control" formControlName="password" id="exampleDropdownFormPassword1"
                         placeholder="Password" type="password">
                </div>
                <div *ngIf="loginForm.invalid && submitted" class="alert alert-danger" role="alert">
                  Fields must be filled in!
                </div>
                <div *ngIf="message" class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
                <button [disabled]="loginForm.invalid" class="btn btn-info" type="submit">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  <span>Sign in</span>
                </button>
              </form>
            </div>
          </div>

          <div class="box" style="padding-bottom: 100px">
            <div class="content registerBox" style="display:none;">
              <div class="form">
                <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                  <div class="form-group">
                    <label for="username"><i class="fas fa-users"></i> Username</label>
                    <input class="form-control" formControlName="username" id="username" type="text"/>
                    <div
                      *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched"
                      class="alert alert-danger" role="alert">
                      Username must be filled!
                    </div>
                    <div
                      *ngIf="registerForm.get('username').hasError('minlength') && registerForm.get('username').touched"
                      class="alert alert-danger" role="alert">
                      Username must have at least 6 characters
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password"><i class="fas fa-key"></i> Password</label>
                    <input class="form-control" formControlName="password" id="password" type="password"/>
                    <div
                      *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched"
                      class="alert alert-danger" role="alert">
                      Password must be filled
                    </div>
                    <div
                      *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched"
                      class="alert alert-danger" role="alert">
                      Password must have at least 6 characters
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="firstName"><i class="fas fa-user-tie"></i> First Name</label>
                    <input class="form-control" formControlName="firstName" id="firstName" type="text"/>
                    <div
                      *ngIf="registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched"
                      class="alert alert-danger" role="alert">
                      First name must be filled
                    </div>
                    <div
                      *ngIf="registerForm.get('firstName').hasError('minlength') && registerForm.get('firstName').touched"
                      class="alert alert-danger" role="alert">
                      First name must have at least 2 characters
                    </div>
                    <div
                      *ngIf="registerForm.get('firstName').hasError('maxlength') && registerForm.get('firstName').touched"
                      class="alert alert-danger" role="alert">
                      First name can only contain up to 20 characters
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="lastName"><i class="fas fa-user-tie"></i> Last Name</label>
                    <input class="form-control" formControlName="lastName" id="lastName" type="text"/>
                    <div
                      *ngIf="registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched"
                      class="alert alert-danger" role="alert">
                      Last name must be filled
                    </div>
                    <div
                      *ngIf="registerForm.get('lastName').hasError('minlength') && registerForm.get('lastName').touched"
                      class="alert alert-danger" role="alert">
                      Last name must have at least 2 characters
                    </div>
                    <div
                      *ngIf="registerForm.get('lastName').hasError('maxlength') && registerForm.get('lastName').touched"
                      class="alert alert-danger" role="alert">
                      First name can only contain up to 30 characters
                    </div>
                  </div>

                  <div class="form-group">
                    <label>
                      <input [value]=true formControlName="gender" type="radio">
                      <span>Male</span>
                    </label>
                    <label>
                      <input [value]=false formControlName="gender" type="radio">
                      <span>Female</span>
                    </label>
                  </div>

                  <div class="form-group">
                    <label for="birthDate"><i class="fas fa-table"></i> BirthDate</label>
                    <input class="form-control" formControlName="birthDate" id="birthDate" type="date"/>
                  </div>

                  <div class="form-group">
                    <label for="phoneNumber"><i class="fas fa-phone"></i> PhoneNumber</label>
                    <input class="form-control" formControlName="phoneNumber" id="phoneNumber" type="text"/>
                  </div>

                  <div class="form-group">
                    <label for="email"><i class="fas fa-envelope-square"> Email</i></label>
                    <input class="form-control" formControlName="email" id="email" type="text"/>
                    <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched"
                         class="alert alert-danger" role="alert">
                      Email must be filled!
                    </div>
                    <div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched"
                         class="alert alert-danger" role="alert">
                      Not a valid Email
                    </div>
                  </div>

                  <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                  </button>
                  <div *ngIf="message" [class.alert-danger]="error" [class.alert-success]="!error"
                       class="alert mt-3 mb-0">{{message}}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
