<div>

</div>
<ngb-tabset #searchTab="ngbTabset" [justify]="'justified'" [orientation]="'horizontal'" type="pills">
  <ngb-tab id="songs" style="background: antiquewhite">
    <ng-template ngbTabTitle><h5>Song<span class="badge badge-secondary">{{numberOfSongs}}</span></h5></ng-template>
    <ng-template ngbTabContent>
      <table *ngIf="songList.length > 0" class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Release Date</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let song of songList; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td><a [queryParams]="{id: song.id}" [routerLink]="['/song/detail']">{{ song.name }}</a></td>
          <td>{{ song.releaseDate | date }}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="artists">
    <ng-template ngbTabTitle><h5>Artist <span class="badge badge-secondary">{{numberOfArtists}}</span></h5>
    </ng-template>
    <ng-template ngbTabContent>
      <table *ngIf="artistList.length > 0" class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Release Date</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let artist of artistList; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td><a [queryParams]="{id: artist.id}" [routerLink]="['/artist/detail']">{{ artist.name }}</a></td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
