body {
  background-image: url("https://www.seausvi.com/wp-content/uploads/2016/07/sunshine-in-sea-hd-sea-wallpapers-sand-ocean-sun-fresh-air-beautiful-places-swimming-happiness-1805x1015.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.topnav {
  width: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.topnav a {
  font-family: 'Dancing Script', cursive;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-right {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
