<form (ngSubmit)="upload()" [formGroup]="songUploadForm">
  <div class="form-group">
    <label for="songName">Song Name</label>
    <input class="form-control" formControlName="name" id="songName" placeholder="Enter song name" type="text">
    <div *ngIf="songUploadForm.get('name').hasError('required') && songUploadForm.get('name').touched"
         class="alert alert-danger" role="alert">
      Must be filled!
    </div>
  </div>

  <div *ngFor="let artist of artists.controls; let i = index;" class="form-group"
       formArrayName="artists">
    <label for="artistName">Artist
      <input class="form-control" formControlName="name" id="artistName" type="text">
    </label>
  </div>

  <div class="form-group">
    <label for="releaseDate">Release Date</label>
    <input class="form-control" formControlName="releaseDate" id="releaseDate" type="date">
    <div *ngIf="songUploadForm.get('releaseDate').hasError('required') && songUploadForm.get('releaseDate').touched"
         class="alert alert-danger" role="alert">
      Must be filled!
    </div>
  </div>

  <label for="audio">Audio File</label>
  <div class="form-group custom-file">
    <label *ngIf=!isAudioFileChosen class="custom-file-label">Choose file</label>
    <label *ngIf=isAudioFileChosen class="custom-file-label" style="color: black">{{ audioFileName }}</label>
    <input (change)="selectFile($event)" class="custom-file-input" id="audio" type="file">
  </div>

  <div class="mt-sm-3">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
  <span *ngIf="message">{{ message }}</span>
  <div *ngIf="progress > 0" class="progress form-group">
    <div [style.width.%]="progress" class="progress-bar progress-bar-striped bg-success" role="progressbar">
    </div>
  </div>
</form>

