<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Release Date</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let song of songList; index as i" [queryParams]="{id: song.id}" [routerLink]="['/song','detail']">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ song.title }}</td>
    <td>{{ song.releaseDate | date }}</td>
    <td>
      <button (click)="addToPlaying(song, $event)" [disabled]="song.isDisabled" class="btn btn-primary"><i
        class="fas fa-play-circle"></i></button>
      <ng-container *ngIf="!!currentUser">
        <button (click)="likeSong(song, $event)" *ngIf="!song.liked" [disabled]="song.loadingLikeButton"
                class="btn btn-outline-danger">
          <span *ngIf="song.loadingLikeButton" aria-hidden="true" class="spinner-border spinner-border-sm"
                role="status"></span>
          <span *ngIf="!song.loadingLikeButton"><i class="far fa-heart"></i></span>
        </button>
        <button (click)="unlikeSong(song, $event)" *ngIf="song.liked" [disabled]="song.loadingLikeButton"
                class="btn btn-outline-danger">
          <span *ngIf="song.loadingLikeButton" aria-hidden="true" class="spinner-border spinner-border-sm"
                role="status"></span>
          <span *ngIf="!song.loadingLikeButton"><i class="fas fa-heart"></i></span>
        </button>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>
<nav style="padding-bottom: 100px">
  <ul class="pagination">
    <li *ngIf="!first" class="page-item">
      <a (click)="goToPage(pageNumber - 1, true)" aria-disabled="true" class="page-link" tabindex="-1">Previous</a>
    </li>
    <li *ngFor="let page of pages" class="page-item">
      <a (click)="goToPage(page.pageNumber, true)" [class.active]="page.pageNumber === pageNumber" aria-disabled="true"
         class="page-link" tabindex="-1">{{ page.pageNumber + 1 }}</a>
    </li>
    <li *ngIf="!last" class="page-item">
      <a (click)="goToPage(pageNumber + 1, true)" aria-disabled="true" class="page-link" tabindex="-1">Next</a>
    </li>
  </ul>
</nav>
